@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.cursive {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}

.poppins {
  font-family: "poppins";
  font-weight: 500;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

body {
  background-color: rgba(31, 41, 55, 1);
}

.home-name {
  font-size: 150px;
}

@media screen and (max-width: 800px) {
  .social-icons {
    display: none;
  }
}
