@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/* STANDARD */

input {
  height: 5vh;
  padding: 10px 10px;
  border: 2px solid transparent;
  outline: 0;
  resize: none;
  line-height: 18px;
  margin: 5px 0px;
}

input:focus,
textarea:focus {
  outline: 2px #e6ae48 solid;
}

textarea {
  padding: 10px 10px;
  margin: 5px 0px;
  resize: none;
}

/* COLORS */

.orange {
  color: #e6ae48;
}

/* CUSTOM */

.cursive {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}

.poppins {
  font-family: "poppins";
  font-weight: 500;
}

.text-xxs {
  font-size: 0.5rem;
  line-height: 0.75rem;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.video-bg {
  background-image: url("../src/bg-alt.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.home-name {
  font-size: 150px;
}
.burger-menu--button {
  display: none;
}
.burger-menu {
  display: none;
}
@media screen and (max-width: 1024px) {
  .social-icons {
    margin: 20px auto;
  }
  .nav-link {
    display: none;
  }
  .burger-menu--button {
    display: block;
  }
  .burger-menu {
    display: flex;
  }
  .footer--nav {
    display: none;
  }
}
